@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600&family=Inter:wght@400;500;600&display=swap');

:root
{
--color-fondo: #16161A;
--color-superficie: #23232B;
--color-borde: #2E2E38;
--color-acentoDorado: #C9A24B;
--color-textoPrincipal: #ededed;
--color-textoSuave: #A0A0A8;
--fuente-titulos: 'Oswald', sans-serif;
--fuente-cuerpo: 'Inter', sans-serif;
--radio: 10px
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: var(--color-fondo);
    color:white;
}

.navbar__logo{
    color: var(--color-acentoDorado);
    font-family: var(--fuente-titulos);
    font-size: 1.5rem;
    text-decoration: none;
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid var(--color-borde);
}

.navbar__menu{
    list-style: none;
    display: flex;
    gap: 2rem;
    
}

.navbar__link{
    color : var(--color-textoSuave);
    text-decoration: none;
}

.hero{
    padding: 1rem;
    min-height: 80vh;
}

.hero h1{
    font-family: var(--fuente-titulos);
    font-size: 3rem;
    color: var(--color-textoPrincipal);
    margin-bottom: 1rem;
}

.hero p{
    color:var(--color-textoSuave);
    font-family: var(--fuente-cuerpo);
    font-size: 1.1rem;
    margin-bottom: 1.5rem;
}

.btn--primario{
    background-color: var(--color-acentoDorado);
    color: var(--color-fondo);
    padding: 0.75rem 1.5rem;
    border-radius: var(--radio);
    text-decoration: none;
    font-weight: 600;
}

.problem-solution{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding: 1rem
}

.problem-solution h2{
    grid-column: 1/-1;
    font-family: var(--fuente-titulos);
    text-align: center;
}

.problem-card, .solution-card{
    background-color: var(--color-superficie);
    border: 1px solid var(--color-borde);
    border-radius: var(--radio);
    padding: 0.75rem;
}

.problem-card h3, .solution-card h3{
    font-family: var(--fuente-titulos);
    font-size: 1.3rem;
    margin-bottom: 1.5rem;
}
.problem-card ul, .solution-card ul{
    list-style: none;
}

.problem-card li, .solution-card li{
    color: var(--color-textoSuave);
    padding: 0.4rem, 0;
}



